.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header {
  text-align: center;
  max-width: 1280px;
}

main {
  width: 90%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

main img {
  width: 80%;
  max-width: 200px;
}

.searchContainer div {
  flex-direction: row;
  flex: unset;
  width: 100%;
}

button {
  flex: 1;
  margin: 4px;
  border: 0;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  max-width: 350px;
  height: 35px;
}